API (REST)/validation/xml/cities_schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Cities">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="City" minOccurs="0" maxOccurs="250">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:int" name="ID" minOccurs="1" maxOccurs="1" />
              <xs:element name="Name" minOccurs="1" maxOccurs="1">
                 <xs:simpleType>  
                    <xs:restriction base="xs:string">   
                      <xs:minLength value="1" />
                      <xs:maxLength value="35" />
                    </xs:restriction>
                 </xs:simpleType>  
              </xs:element>
              <xs:element name="CountryCode" minOccurs="1" maxOccurs="1">
                 <xs:simpleType>  
                    <xs:restriction base="xs:string">   
                      <xs:minLength value="3" />
                      <xs:maxLength value="3" />
                    </xs:restriction>
                 </xs:simpleType>  
              </xs:element>
              <xs:element name="Disctrict" minOccurs="1" maxOccurs="1">
                 <xs:simpleType>  
                    <xs:restriction base="xs:string">   
                      <xs:minLength value="1" />
                      <xs:maxLength value="20" />
                    </xs:restriction>
                 </xs:simpleType>  
              </xs:element>
              <xs:element name="Population" minOccurs="1" maxOccurs="1" default="0">
                <xs:simpleType>
                  <xs:restriction base="xs:int">
                    <xs:minInclusive value="0"/>
                  </xs:restriction>
                </xs:simpleType>  
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>