API (REST)/validation/xml/languages_schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Languages">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Language" minOccurs="0" maxOccurs="250">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CountryCode" minOccurs="1" maxOccurs="1">
                 <xs:simpleType>  
                    <xs:restriction base="xs:string">   
                      <xs:minLength value="3" />
                      <xs:maxLength value="3" />
                    </xs:restriction>
                 </xs:simpleType>  
              </xs:element>
              <xs:element name="Language" minOccurs="1" maxOccurs="1">
                 <xs:simpleType>  
                    <xs:restriction base="xs:string">   
                      <xs:minLength value="1" />
                      <xs:maxLength value="30" />
                    </xs:restriction>
                 </xs:simpleType>  
              </xs:element>
              <xs:element name="IsOfficial" minOccurs="1" maxOccurs="1" default="F">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                      <xs:minLength value="1" />
                      <xs:maxLength value="1" />
                  </xs:restriction>
                </xs:simpleType>  
              </xs:element>
              <xs:element name="Percentage" minOccurs="1" maxOccurs="1" default="0.0">
                <xs:simpleType>
                  <xs:restriction base="xs:float">
                    <xs:minInclusive value="0.0"/>
                  </xs:restriction>
                </xs:simpleType>                  
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>